/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body {
  background-color: #bdd5ea;
}

html {
  font-size: 62.5%;
}

.navbar {
  text-align: center;
}

.navbar h1 {
  font-size: 3rem;
  color: #fe5f55;
}

.navbar a {
  color: #f7f7ff;
  font-size: 1.6rem;
}

.container {
  max-width: 800px;
}

.cta {
  background-image: url("../img/childrenfence.jpg");
  background-size: cover;
  height: 500px;
}

.cta h1 {
  color: #f7f7ff;
  background-color: rgba(50, 115, 220, 0.3);
  text-align: center;
  margin-bottom: 220px;
  font-size: 4rem;
}

.cta button {
  font-size: 2.2rem;
  background-color: #fe5f55;
}

.content-box h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #fe5f55;
}

.content-card {
  text-align: center;
}

.content-card i {
  font-size: 3rem;
  margin: 40px 0 50px 0;
}

.content-card p {
  text-align: justify;
  font-size: 1.3rem;
}

footer {
  display: flex;
  flex-direction: column;
}
 footer h3,
 footer p {
   color: #f7f7ff;
 }

 footer h3 {
   font-size: 2.2rem;
   color: #fe5f55;
 }

 footer a {
   font-size: 1.6rem;
   padding: 20px;
   color: #577399;
 }

 footer p {
   font-size: 1.1rem;
 }

.team {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.team-top, 
.team-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.team-top .team-card {
  width: 30%;
}

.team-bottom .team-card {
  width: 30%;
}

.team-card {
  margin: 30px 0 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.team-card h2 {
  color: #fe5f55;
}

.team-card img {
  border-radius: 100px;
  margin-bottom: 10px;
}

