/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body {
  background-color: #bdd5ea;
}

html {
  font-size: 62.5%;
}

.navbar {
  text-align: center;
}

.navbar h1 {
  font-size: 3rem;
  color: #fe5f55;
}

.navbar a {
  color: #f7f7ff;
  font-size: 1.6rem;
}

.container {
  max-width: 800px;
}

.cta {
  background-image: url("../img/childrenfence.jpg");
  background-size: cover;
  height: 500px;
}

.cta h1 {
  color: #f7f7ff;
  background-color: rgba(50, 115, 220, 0.3);
  text-align: center;
  margin-bottom: 280px;
  font-size: 4rem;
}

.cta button {
  font-size: 2.2rem;
  background-color: #fe5f55;
  border: 0;
}

.content-box h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: #fe5f55;
}

.content-card {
  text-align: center;
}

.content-card i {
  font-size: 3rem;
  margin: 25px 0 35px 0;
}

.content-card p {
  text-align: justify;
  font-size: 1.3rem;
}

footer {
  display: flex;
  flex-direction: column;
}
 footer h3,
 footer p {
   color: #f7f7ff;
 }

 footer h3 {
   font-size: 2.2rem;
   color: #fe5f55;
 }

 footer a {
   font-size: 1.6rem;
   padding: 20px;
   color: #577399;
 }

 footer p {
   margin-top: 5px;
   font-size: 1.1rem;
 }

 footer i {
   font-size: 5rem;
   margin: 5px;
 }

 .about-content {
   /* background-image: url("../img/childrenwater.jpg");
   background-size: cover;
   height: 500px;; */
   margin: 30px 0;
   text-align: center;
   font-size: 1.3rem;
 }

 .about-content .about-header h1 {
   color: #fe5f55;
    font-size: 5rem;
 }
 .about-content .about-header p {
  font-size: 2rem;
}

.about-content > p {
  font-size: 1.6rem;
}

.team {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 0 20px 0;
}

/* .team h1 {
  color: #577399;
} */

.team-backend, 
.team-frontend {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media(max-width: 600px) {
  .team-backend,
  .team-frontend {
    flex-direction: column;
    width: 100%;
  }
}

@media(min-width: 501px) {
  .team-backend .team-card,
  .team-frontend .team-card {
    width: 30%;
  }
}

@media(max-wdith: 500px) {
  .team-backend .team-card,
  .team-frontend .team-card {
    max-width: 90%;
  }
}

.team-card {
  margin: 30px 0 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.team-card h2 {
  color: #577399;
}

.team-card img {
  border-radius: 100px;
  margin-bottom: 10px;
  max-width: 150px;
  height: auto;
}


.tabs-content .main-content h1 {
  text-align: center;
  color: #fe5f55;
}
.tabs-content header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  margin-bottom: 30px;
  border-bottom: 1px dashed black;
}
.tabs-content header nav {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}
.tabs-content .tab-navigator .tab-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.tabs-content .tab-navigator .tab-links .link {
  font-size: 1.3rem;
  /* padding: 20px 40px; */
  padding: 10px 40px 5px 40px;
  background: lightgray;
  border-radius: 10px 10px 0px 0px;
  /* border: 1px solid black; */
  cursor: pointer;
}
.tabs-content .tab-navigator .tab-content {
  width: 100%;
  /* margin-top: 20px; */
  margin-top: 0px;
  background: lightgray;
  border-top: 5px solid #577399;
}
.tabs-content .tab-navigator .tab-content .content {
  padding: 20px;
  font-size: 1.3rem;
  /* border: 1px solid black; */
}
.tabs-content .tab-navigator .tab-content .js-enabled {
  display: none;
}
.tabs-content .tab-navigator .tab-content .tab-active {
  display: block;
}



.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
}
@media (min-width: 1200px) {
  .carousel {
    width: 90%px;
  }
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  color: #fff;
  background-color: #333;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: #333;
  background-color: #fff;
  border: 2px solid #333;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.carousel img {
  width: 100%;
  display: none;
}