/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html {
  background-color: brown;
}

.navbar {
  text-align: center;
}

.navbar a {
  color: white;
}

.container {
  max-width: 800px;
}

.cta {
  background-image: url("../img/childrenfence.jpg");
  background-size: cover;
  height: 500px;
}

.cta h1 {
  color: white;
  background-color: rgba(50, 115, 220, 0.3);
}


